<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Express Lab 2: Express Pizza</title>
</head>
<body>
    <h1>Welcome to Korchie's Pizza Express!</h1>

    <h2>Specialty Pizzas:</h2>
    <ul>
        <li><a href="/specialty?pizzaName=BBQ+Chicken&price=22">BBQ Chicken</a></li>
        <li><a href="/specialty?pizzaName=Meat+Lovers&price=24">Meat Lovers</a></li>
        <li><a href="/specialty?pizzaName=Pineapple&price=18">Pineapple + Pepp</a></li>
    </ul>

    <h2>Custom Pizza:</h2>
    <a href="/custom">Build Your Own!</a>

    <h2>Leave A Review:</h2>
    <a href="/review">Click Here To Leave A Review</a>

<div>
    <img src="/pix/store.jpg" alt="pizza pic">
</div>
</body>
</html>