<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Thank you!</title>
</head>
<body>
<h1>Thanks For The Review!</h1>

<h3>Your name:</h3>
<p>{{name}}</p>
<h3>Your comment:</h3>
<p>{{comment}}</p>
<h3>Your rating:</h3>
<p>{{rating}}</p>

<div>
    <img src="/pix/pikapizza.png" alt="thank you!">
</div>
<a href="/">Home</a>

</body>